<div class="row">

    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafico-dona [ChartLabels]="graficos.grafico1.labels" [ChartData]="graficos.grafico1.data" [ChartType]="graficos.grafico1.type" [Leyenda]="graficos.grafico1.leyenda"></app-grafico-dona>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafico-dona [ChartLabels]="graficos.grafico2.labels" [ChartData]="graficos.grafico2.data" [ChartType]="graficos.grafico2.type" [Leyenda]="graficos.grafico2.leyenda"></app-grafico-dona>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafico-dona [ChartLabels]="graficos.grafico3.labels" [ChartData]="graficos.grafico3.data" [ChartType]="graficos.grafico3.type" [Leyenda]="graficos.grafico3.leyenda"></app-grafico-dona>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafico-dona [ChartLabels]="graficos.grafico3.labels" [ChartData]="graficos.grafico3.data" [ChartType]="graficos.grafico3.type" [Leyenda]="graficos.grafico4.leyenda"></app-grafico-dona>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>